{% load staticfiles %}
<html>
   <head>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<title>PornoHub</title>
   </head>
   <body>
    <H1>Привет, пидор!</H1>
	<H2>Ты такой никчемный, что этот сайт в сравнении с тобой идеален</H2>
   <FRAMESET BORDER=3>{% for post in posts %}
   <b>Опубликовано: {{ post.published_date }} </b>
   <H1>{{ post.title }}</H1>
   <H3>{{ post.text|linebreaksbr }}</H3>
   {% endfor %}</FRAMESET>
   </body>
</html>	